h1 {
    color:rgb(58, 7, 243);
}

h2 {
    color:rgb(224, 17, 69);
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:antiquewhite;
}

header {
    background-color: #fffbfb;
    color: rgb(27, 3, 3);
    padding: 40px;
}